@media (min-width: 1200px) {
  body {
    overflow: hidden;
    font-family: "Noto Sans KR", sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  html {
    font-family: "Noto Sans KR", sans-serif !important;
  }

  /*header*/

  #header {
    position: absolute;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-weight: 600;
  }

  #header i {
    position: absolute;
    left: 10%;
    width: 10vw;
    margin-left: 10vw;
    font-size: 30px;
    color: #ee88bd;
  }

  .menu {
    width: 100%;
    margin-left: -5vw;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10vw;
  }

  #header ul li {
    font-size: 20px;
    cursor: pointer;
  }

  .header_logo {
    padding-left: 3vw;
    width: 200px;
    padding-bottom: 0.5vw;
    box-sizing: border-box;
  }

  #nav-icon2 {
    margin-top: 0.2vw;
    width: 2.1vw;
    height: 1vw;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon2 span {
    z-index: 999;
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #402c64;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #nav-icon2 span:nth-child(1),
  #nav-icon2 span:nth-child(2) {
    top: 0px;
  }

  #nav-icon2 span:nth-child(3),
  #nav-icon2 span:nth-child(4) {
    top: 11px;
  }

  #nav-icon2 span:nth-child(5),
  #nav-icon2 span:nth-child(6) {
    top: 22px;
  }

  #nav-icon2.open span:nth-child(1),
  #nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon2.open span:nth-child(2),
  #nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 18px;
  }

  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 18px;
  }

  /* 메뉴 버튼 */
  .menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1000;
    color: #fff;
  }

  .menu-button:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }

  /* 사이드 메뉴 */
  .side-menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -300px; /* 숨김 상태 */
    width: 300px;
    height: 100%;
    background: linear-gradient(to bottom, #ffd1e9, #80a5e0);
    color: #fff;
    overflow-y: auto;
    transition: transform 0.4s ease-in-out; /* 부드러운 애니메이션 */
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
    z-index: 999;
    padding-top: 50px; /* 메뉴와 상단 여백 */
    border-right: 2px solid #444; /* 오른쪽 경계선 */
  }

  .slide_logo {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 50%;
  }

  .side-menu.open {
    transform: translateX(300px); /* 메뉴가 오른쪽으로 밀려 나오게 */
  }

  /* 메뉴 리스트 스타일 */
  .side-menu ul {
    list-style: none;
    padding: 1vw;
    box-sizing: border-box;
    margin-top: 50px;
  }

  .side-menu ul li {
    border-bottom: 2px solid #fff;
    padding: 1vw;
    box-sizing: border-box;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.2s ease; /* 배경 색과 트랜지션 효과 */
  }

  .side-menu ul li:hover {
    transform: scale(1.1); /* 메뉴 아이템 크기 살짝 확대 */
  }

  .side-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    font-weight: 500; /* 글자 두께 */
  }

  .social {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .social img:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
  }

  .social a img {
    width: 3vw;
  }

  /* 어두운 오버레이 */
  .overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 998;
  }

  .overlay2.open {
    opacity: 1;
    visibility: visible;
  }

  /*visual*/

  #visual {
    overflow: hidden;
    z-index: -1;
    position: relative;
    background-position: center center;
    background-size: cover;
    display: block;
    background-image: url(../img/doctor_main.png);
    width: 100%;
    height: 100vh;
  }

  .go-top {
    z-index: 1000;
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(34, 34, 34, 0.5); /* 투명도를 적용한 배경색 */
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
    line-height: 4.1vw;
    text-align: center;
    border-radius: 50px; /* 버튼을 둥글게 */
    display: none; /* 초기에는 숨김 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
  }

  .go-top:hover {
    background-color: #222; /* 호버 시 더 진한 색상 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강조 */
    transform: translateY(-5px); /* 호버 시 살짝 위로 올라가는 애니메이션 */
  }

  .model {
    bottom: 0;
    right: 10%;
    position: absolute;
    width: 30%;
  }

  /* 애니메이션 정의 */
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(10px); /* 요소들이 원래 자리보다 살짝 아래에 위치 */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* 원래 자리로 돌아옴 */
    }
  }

  @keyframes typewriter {
    0% {
      clip-path: inset(0 100% 0 0); /* 오른쪽에서부터 잘라서 나타나게 */
    }
    100% {
      clip-path: inset(0 0 0 0); /* 전체 이미지가 보이게 */
      opacity: 1;
    }
  }

  .text {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 5%;
    animation: typewriter 4s ease-out forwards; /* 타이핑 효과 */
  }

  .bubble1 {
    position: absolute;
    bottom: 60%;
    left: 50%;
    opacity: 0;
    animation: slideUp 0.8s ease-out forwards; /* 애니메이션 적용 */
    animation-delay: 1s; /* 딜레이 추가 */
  }

  .bubble2 {
    position: absolute;
    bottom: 45%;
    left: 55%;
    opacity: 0;
    animation: slideUp 0.8s ease-out forwards; /* 애니메이션 적용 */
    animation-delay: 1.5s; /* 딜레이 추가 */
  }

  .heart {
    position: absolute;
    left: 45%;
    top: 50%;
    opacity: 0;
    animation: slideUp 0.8s ease-out forwards; /* 애니메이션 적용 */
    animation-delay: 2s; /* 딜레이 추가 */
  }

  #visual p {
    font-family: "Nanum Pen Script", cursive;
    color: #402c64;
    font-size: 4vw;
    letter-spacing: -1px;
    position: absolute;
    left: 25%;
    top: -7%;
    transform: translate(-50%, -50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: slideUp 0.8s ease-out forwards; /* 애니메이션 적용 */
    animation-delay: 2.5s; /* 딜레이 추가 */
  }

  #visual h2 {
    position: absolute;
    left: 15%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Black Han Sans", sans-serif;
    letter-spacing: -3px;
    width: 30vw;
    line-height: 5vw;
    font-size: 5vw;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: slideUp 0.8s ease-out forwards; /* 애니메이션 적용 */
    animation-delay: 3s; /* 딜레이 추가 */
  }

  /*container*/

  #container {
    width: 100%;
    overflow: hidden;
  }

  /*con1*/

  .con1 {
    padding: 5vw;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
  }

  .con1 img {
    display: block;
    object-fit: cover;
    width: 30vw;
    height: 40vw;
  }

  .con1 ul {
    display: flex;
    gap: 7vw;
    justify-content: center;
  }

  .con1 p {
    letter-spacing: -1px;
    margin-bottom: 1.5vw;
  }

  .con1 h2 {
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 2.5vw;
    margin-bottom: 2vw;
  }

  .con1 h4 {
    color: #80a5e0;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: -1px;
  }

  .con1 h3 {
    font-size: 1vw;
    font-weight: 700;
  }

  .con1 ul li:nth-child(2) {
    width: 30%;
  }

  /*con2*/

  .con2 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10vw;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .con2 ul {
    display: flex;
  }

  .good {
    justify-content: space-between;
    gap: 20vw;
  }

  .good h2 {
    font-size: 2vw;
    font-weight: 700;
  }

  .good p {
    padding-top: 0.5vw;
    box-sizing: border-box;
    padding-bottom: 1vw;
  }

  .good li {
    width: 50%;
  }

  .greeting {
    font-size: 1vw;
    position: relative; /* 자식 요소의 위치를 설정하기 위한 기준 */
    display: inline-block;
    padding-right: 1vw;
  }

  .greeting::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 25px;
    height: 5px;
    border-radius: 30px;
    background-color: #28b8a2;
    transform: translateY(-50%);
  }

  /* ::after로 세로 줄 */
  .greeting::after {
    border-radius: 30px;
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 10px); /* 가로 줄 중심에서 시작 */
    width: 5px;
    height: 25px;
    background-color: #80a5e0;
    transform: translateY(-50%);
  }

  .no {
    margin-bottom: 2vw;
    display: flex;
    gap: 2vw;
    justify-content: center;
  }

  .no li:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1vw;
    color: #fff;
    border-radius: 5vw;
    text-align: center;
    width: 22vw;
    height: 8vw;
    box-sizing: border-box;
    text-wrap: nowrap;
    background-color: #80c6e0;
  }

  .no li:nth-child(2) {
    width: 8vw;
    border-radius: 4vw;

    background-color: #80c6e0;
    text-align: center;
    color: #fff;
  }

  .no li:nth-child(2) i {
    font-size: 3vw;
    line-height: 8vw;
  }

  .pain {
    display: flex;
    gap: 2vw;
    justify-content: center;
  }

  .pain li:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1vw;
    color: #fff;
    border-radius: 5vw;
    text-align: center;
    width: 22vw;
    height: 8vw;
    box-sizing: border-box;
    text-wrap: nowrap;
    background-color: #28b8a2;
  }

  .pain li:nth-child(1) {
    width: 8vw;
    border-radius: 4vw;

    background-color: #28b8a2;
    text-align: center;
    color: #fff;
  }

  .pain li:nth-child(1) i {
    font-size: 3vw;
    line-height: 8vw;
  }

  .stress {
    margin-top: 2vw;
    display: flex;
    gap: 2vw;
    justify-content: center;
  }

  .stress li:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1vw;
    color: #fff;
    border-radius: 5vw;
    text-align: center;
    width: 22vw;
    height: 8vw;
    box-sizing: border-box;
    text-wrap: nowrap;
    background-color: #b3a6f0;
  }

  .stress li:nth-child(2) {
    width: 8vw;
    border-radius: 4vw;

    background-color: #b3a6f0;
    text-align: center;
    color: #fff;
  }

  .stress li:nth-child(2) i {
    font-size: 3vw;
    line-height: 8vw;
  }

  /*con3*/

  .con3 {
    padding: 5vw;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100vh; /* 화면 전체 높이 */
    background: linear-gradient(120deg, #f5f5dc, #87ceeb);
  }

  .con3 h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; /* 가장 뒤로 배치 */
    pointer-events: none; /* 클릭 이벤트 완전히 무시 */
    text-align: center;
    font-weight: 700;
    font-size: 15vw;
    line-height: 13vw;
    color: rgba(255, 255, 255, 0.2); /* 흰색(#ffffff)이며 투명도 80% */
  }

  .middle {
    text-align: right;
    position: absolute; /* 절대 위치로 중앙 배치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정확히 가운데 정렬 */
    z-index: 0; /* h2 위에 배치 */
    font-size: 1.3vw;
    color: #555; /* 텍스트 색상 */

    padding: 10px 20px;
    border-radius: 5px; /* 시각적 효과를 위해 추가 */
  }

  .con3 p span {
    font-weight: bolder;
  }

  .con3_ul2 {
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .con3_ul2 li:nth-child(1) {
    position: relative;
  }

  .con3_ul2 li:nth-child(1) img {
    border-radius: 10vw;
  }

  .con3_ul2 li:nth-child(1) p {
    position: absolute;
    top: 35%;
    font-size: 0.8vw;
    font-weight: 400;
    color: #555;
    left: -10%;
    writing-mode: vertical-rl; /* 세로 방향 */
  }

  .con3_ul3 {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .con3_ul3 li:nth-child(1) {
    margin-top: 5vw;
  }

  .con3_ul3 li:nth-child(2) {
    position: relative;
  }

  .con3_ul3 li:nth-child(2) img {
    border-radius: 50%;
  }

  .con3_ul3 li:nth-child(2) p {
    position: absolute;
    top: 10%;
    font-size: 0.8vw;
    font-weight: 400;
    color: #555;
    right: -15%;
    writing-mode: vertical-rl; /* 세로 방향 */
  }

  .con3_ul3 li:nth-child(3) {
    position: relative;
  }

  .con3_ul3 li:nth-child(3) {
    margin-top: 5vw;
  }

  .con3_ul3 li:nth-child(3) p {
    position: absolute;
    top: -10%;
    right: 10%;
    font-size: 0.8vw;
    font-weight: 400;
    color: #555;
  }

  .con3_ul3 li:nth-child(3) img {
    border-radius: 30vw;
  }

  .con3_ul3 li:nth-child(4) {
    position: relative;
  }

  .con3_ul3 li:nth-child(4) img {
    width: 90%;
  }

  .con3_ul3 li:nth-child(4) p {
    position: absolute;
    top: 0%;
    font-size: 0.8vw;
    font-weight: 400;
    color: #555;
    right: 0%;
    writing-mode: vertical-rl; /* 세로 방향 */
  }

  /* con4 */
  .con4 {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; /* 수직 및 수평 중앙 정렬 */
  }

  .con4 h2 {
    word-spacing: -2px;
    text-align: center;
    font-size: 20vw;
    font-weight: 700;
    line-height: 18vw;
    text-transform: uppercase; /* 대문자 변환 */
    background: url("../img/text_back.gif") no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 90s linear infinite;
  }

  /*con5*/

  .con5 {
    padding: 5vw;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      #ffffff 0%,
      #ffffff 50%,
      #ffd1e9 100%
    ); /* 그라데이션 배경 추가 */
  }

  .con5 h3 {
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: -2px;
    color: #555;
  }

  .con5 h5 {
    font-size: 1vw;
    font-weight: 700;
    color: #555;
  }

  .swiper {
    position: relative !important;
    box-sizing: border-box;
    width: 100%;
    height: 100vh; /* 원하는 높이 설정 */
    margin-top: 5vw;
    overflow: hidden;
    border-radius: 10px;
  }

  .swiper-slide {
    height: 100%;
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 10px;
  }

  .swiper-pagination {
    position: absolute !important;
    bottom: 50% !important;
  }

  /*footer*/

  #footer {
    position: relative;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #ffd1e9, #80a5e0);
  }

  #footer h2 {
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 13.5vw;
    color: #fff;
    opacity: 0.3;
  }

  .fot_logo {
    width: 10%;
    filter: grayscale(100%) brightness(1000%);
  }

  #footer ul li:nth-child(1),
  #footer ul li:nth-child(2),
  #footer ul li:nth-child(3),
  #footer ul li:nth-child(4),
  #footer ul li:nth-child(5),
  #footer ul li:nth-child(6) {
    text-decoration: underline;
  }

  #footer ul {
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 15px;

    display: flex;
    justify-content: center;
    gap: 2vw;
  }

  #footer ul li {
    cursor: pointer;
  }

  #footer span {
    font-weight: 800;
  }

  .fot_bottom {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .reserved {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }
}
