body {
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

@media (min-width: 1200px) {
  /*header*/

  #header {
    position: absolute;
    z-index: 999;
    padding: 0vw 1.5vw;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-weight: 600;
  }

  #header i {
    font-size: 30px;
    color: #402c64;
  }

  #header ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  #header ul li {
    font-size: 20px;
    cursor: pointer;
  }

  .header_logo {
    width: 200px;
    padding-bottom: 0.5vw;
    box-sizing: border-box;
  }

  /*visual*/

  #visual {
    overflow: hidden;
    z-index: -1;
    position: relative;
    background-position: center center;
    background-size: cover;
    display: block;
    background-image: url(../img/main.jpg);
    width: 100%;
    height: 100vh;
  }

  .go-top {
    z-index: 1000;
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(34, 34, 34, 0.5); /* 투명도를 적용한 배경색 */
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
    line-height: 4.1vw;
    text-align: center;
    border-radius: 50px; /* 버튼을 둥글게 */
    display: none; /* 초기에는 숨김 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
  }

  .line {
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .model {
    z-index: 1;
    position: absolute;
    left: 51%;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  .go-top:hover {
    background-color: #222; /* 호버 시 더 진한 색상 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강조 */
    transform: translateY(-5px); /* 호버 시 살짝 위로 올라가는 애니메이션 */
  }

  #visual h2 {
    color: #fff;
    font-family: "Black Han Sans", sans-serif;
    font-size: clamp(70px, 5.3vw, 90px);
    word-spacing: 20vw;
    height: 100vh;
    margin-top: -10vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .why {
    padding-left: 15vw;
    margin-top: -15vw;
    box-sizing: border-box;
    color: #795bb0;
    font-size: 3vw;
    font-family: "Mr Dafoe", cursive;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
  }

  .different {
    padding-right: 12vw;
    margin-top: 3vw;
    box-sizing: border-box;
    color: #795bb0;
    font-size: 2.5vw;
    font-family: "Mr Dafoe", cursive;
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: center;
  }

  /*container / con1*/

  #container {
    width: 100%;
  }

  .con1 {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .con1 h2 {
    background: linear-gradient(
      to right,
      #ffe3cb,
      #ff6969
    ); /* 밝은 살구색 -> 진한 살구색 */
    -webkit-background-clip: text; /* 배경을 글자로 클리핑 */
    -webkit-text-fill-color: transparent; /* 텍스트를 투명하게 */
    text-align: center;
    margin: auto;
    width: 100%;
    word-spacing: 10vw;
    font-weight: 700;
    font-size: 13vw;
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .con1 p {
    font-size: 1vw;
    color: #222;
    width: 40%;
    z-index: 999;
    position: absolute;
    left: 70%;
    top: 70%;
    text-align: justify;
    transform: translate(-50%, -50%);
  }

  .con1 video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    width: 50%;
    filter: brightness(0.7); /* 비디오 밝기를 50%로 낮춰 어두운 효과 적용 */
  }

  /*con2*/

  .con2 {
    width: 100%;
  }
  .con2 ul {
    padding: 2vw;
    display: flex;
    justify-content: space-between;
  }
  .con2 ul li {
    width: 50%;
  }

  .con2 .con2_ul1 li:nth-child(2) {
    background-color: #222;
    color: #fff;
    width: 10vw;
    height: 3vw;
    font: 2vw;
    text-align: center;
    line-height: 3vw;
    border-radius: 2vw;
    cursor: pointer;
  }

  .con2 span {
    font-weight: bold;
  }

  .con2 h5 {
    font-size: 1vw;
  }

  /*con3*/

  .con3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .con3 span {
    font-weight: bold;
  }

  .con3_ul1 h3 {
    line-height: 2vw;
    width: 40%;
    font-size: 1vw;
  }

  .con3_ul2 {
    display: flex;
    justify-content: space-between;
  }

  .con3_ul2 li {
    font-size: 1vw;
    width: 25%;
    padding: 9vw 3vw;
    text-align: center;
    border: 2px solid #aaa;
    background-color: #fff6f6;
    box-sizing: border-box;
    border-left: none; /* 왼쪽 경계선 제거 
    */
  }

  .con3_ul2 li:nth-child(4) {
    padding-top: 5vw;
    box-sizing: border-box;
    text-align: left;
  }

  .con3_ul2 li:nth-child(2) {
    background-color: #544e69;
    color: #fff;
  }

  .con3_ul3 {
    display: flex;
    justify-content: space-between;
  }

  .con3_ul3 li {
    font-size: 1vw;
    background-color: #fff6f6;
    width: 25%;
    padding: 9vw 3vw;
    text-align: center;
    border: 2px solid #aaa;
    box-sizing: border-box;
    border-left: none; /* 왼쪽 경계선 제거 
    */
    border-top: none; /* 위쪽 경계선 제거 (필요시) */
  }

  .con3_ul3 li:nth-child(1) {
    padding-top: 5vw;
    box-sizing: border-box;
    text-align: left;
  }

  .con3_ul3 li:nth-child(3) {
    padding-top: 5vw;
    box-sizing: border-box;
    text-align: left;
  }
}
