@media (min-width: 1200px) {
  body {
    overflow: hidden;
    font-family: "Noto Sans KR", sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /*header*/

  #header {
    padding: 0.3vw;
    position: absolute;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-weight: 600;
  }

  #header a {
    color: #fff;
  }

  #header i {
    position: absolute;
    left: 10%;
    width: 10vw;
    margin-left: 10vw;
    font-size: 30px;
    color: #ee88bd;
  }

  .menu {
    width: 100%;
    margin-left: -5vw;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10vw;
  }

  #header ul li {
    font-size: 20px;
    cursor: pointer;
  }

  .header_logo {
    width: 220px;
    padding-left: 3vw;
    padding-bottom: 0.3vw;
    box-sizing: border-box;
  }

  #nav-icon2 {
    margin-top: 0.1vw;
    width: 2.1vw;
    height: 1vw;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon2 span {
    z-index: 999;
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #402c64;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #nav-icon2 span:nth-child(1),
  #nav-icon2 span:nth-child(2) {
    top: 0px;
  }

  #nav-icon2 span:nth-child(3),
  #nav-icon2 span:nth-child(4) {
    top: 11px;
  }

  #nav-icon2 span:nth-child(5),
  #nav-icon2 span:nth-child(6) {
    top: 22px;
  }

  #nav-icon2.open span:nth-child(1),
  #nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon2.open span:nth-child(2),
  #nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 18px;
  }

  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 18px;
  }

  /* 메뉴 버튼 */
  .menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1000;
    color: #fff;
  }

  .menu-button:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }

  /* 사이드 메뉴 */
  .side-menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -300px; /* 숨김 상태 */
    width: 300px;
    height: 100%;
    background: linear-gradient(to bottom, #ffd1e9, #80a5e0);
    color: #fff;
    overflow-y: auto;
    transition: transform 0.4s ease-in-out; /* 부드러운 애니메이션 */
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
    z-index: 999;
    padding-top: 50px; /* 메뉴와 상단 여백 */
    border-right: 2px solid #444; /* 오른쪽 경계선 */
  }

  .slide_logo {
    position: absolute;
    top: 5%;
    left: 20%;
    width: 50%;
  }

  .side-menu.open {
    transform: translateX(300px); /* 메뉴가 오른쪽으로 밀려 나오게 */
  }

  /* 메뉴 리스트 스타일 */
  .side-menu ul {
    list-style: none;
    padding: 1vw;
    box-sizing: border-box;
    margin-top: 50px;
  }

  .side-menu ul li {
    border-bottom: 2px solid #fff;
    padding: 1vw;
    box-sizing: border-box;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.2s ease; /* 배경 색과 트랜지션 효과 */
  }

  .side-menu ul li:hover {
    transform: scale(1.1); /* 메뉴 아이템 크기 살짝 확대 */
  }

  .side-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    font-weight: 500; /* 글자 두께 */
  }

  .social {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .social img:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
  }

  .social a img {
    width: 3vw;
  }

  /* 어두운 오버레이 */
  .overlay2 {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 998;
  }

  .overlay2.open {
    opacity: 1;
    visibility: visible;
  }

  /* 사이드 메뉴 애니메이션 */
  @keyframes slideIn {
    0% {
      transform: translateX(-300px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300px);
    }
  }
  /*visual*/

  #visual {
    padding: 5vw;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -1;
    position: relative;
    background-position: center center;
    background-size: cover;
    display: block;
    background-image: url(../img/main.jpg);
    width: 100%;
    height: 100vh;
  }

  .go-top {
    z-index: 1000;
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(34, 34, 34, 0.5); /* 투명도를 적용한 배경색 */
    font-size: 2vw;
    width: 4vw;
    height: 4vw;
    line-height: 4.1vw;
    text-align: center;
    border-radius: 50px; /* 버튼을 둥글게 */
    display: none; /* 초기에는 숨김 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* 부드러운 전환 효과 */
  }

  .go-top:hover {
    background-color: #222; /* 호버 시 더 진한 색상 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강조 */
    transform: translateY(-5px); /* 호버 시 살짝 위로 올라가는 애니메이션 */
  }

  .model {
    position: absolute;
    width: 30%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -0%);
  }

  #visual span {
    color: #fff;
    font-weight: 700;
  }

  #visual h2 {
    font-weight: 100;
    color: #fff;
    font-size: 5vw;
    margin-left: 55vw;
    margin-top: -10vw;
    line-height: 5.5vw;
    width: 18%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-shadow: 0 0 5px rgba(255, 147, 170, 0.7),
      /* 첫 번째 그림자 (파스텔 옅은 보라색) */ 0 0 10px
        rgba(247, 169, 199, 0.6),
      /* 두 번째 그림자 (좀 더 흐릿하게) */ 0 0 15px rgba(247, 169, 202, 0.5),
      /* 세 번째 그림자 (더 흐릿하고 넓게) */ 0 0 20px rgba(247, 169, 215, 0.4); /* 네 번째 그림자 (최종 빛나는 효과) */
  }

  .wrap {
    position: absolute;
    font-size: 1.5vw;
    margin-top: 10vw;
    word-spacing: 5px;
    font-weight: 600;
    color: #402c64;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #visual i {
    color: #402c64;
  }

  .bubble2 {
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -0%);
  }

  .bubble1 {
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -0%);
  }

  .spakle {
    width: 3%;
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%, -0%);
  }

  .text {
    width: 20%;
    position: absolute;
    bottom: 10%;
    right: 5%;
  }

  /*container / con1*/

  #container {
    width: 100%;
  }

  /*con1*/

  .con1 {
    padding: 5vw;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
  }

  .con1 h2 {
    margin-bottom: 3vw;
    font-size: 2vw;
  }

  .con1 ul {
    display: flex;
    gap: 0.5vw;
  }

  .input-container {
    flex: 0 0 auto; /* in body */
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
  }

  .input-container label {
    letter-spacing: -1px;
    color: #555;
    font-size: 0.8vw;
    flex: 0 0 210px;
    font-weight: bold;
  }

  .small-text {
    font-weight: normal;
  }

  .input-container input {
    border: 1px solid #ccc; /* 테두리 추가 */

    color: #555;
    box-sizing: border-box;
    padding: 0.5vw;
    flex: 1 1 auto;
  }

  .buttons-container {
    flex: 0 0 auto; /* in body */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 25px;
  }

  .buttons-container button + button {
    margin-left: 2px;
  }

  .css-output-container {
    flex: 1 1 auto; /* in body */
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  #css-output {
    width: 100%;
    padding: 1vw; /* 텍스트와 경계 간 간격을 추가 */
    height: 40px; /* 입력 필드 높이 설정 */
    font-size: 16px; /* 글자 크기 설정 */
    box-sizing: border-box; /* padding을 포함한 크기 계산 */
    border: 1px solid #ccc; /* 테두리 추가 */

    color: #555;
    text-align: left; /* 텍스트 왼쪽 정렬 */
    vertical-align: top; /* 텍스트가 맨 위에 오도록 설정 */
    padding-bottom: 20vw;
  }

  .css-output-container textarea {
    box-sizing: border-box;
    padding: 5vw;
    flex: 1 1 auto;
    min-height: 100px;
  }

  .footnote-container {
    flex: 0 0 auto; /* in body */
    font-size: 0.85rem;
    margin-top: 2px;
    padding-bottom: 25px; /* because the bottom gets cut-off on CodePen for some reason */
  }

  /*footer*/

  #footer {
    position: relative;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #ffd1e9, #80a5e0);
  }

  #footer h2 {
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 13vw;
    color: #fff;
    opacity: 0.3;
  }

  .fot_logo {
    width: 10%;
    filter: grayscale(100%) brightness(1000%);
  }

  #footer ul li:nth-child(1),
  #footer ul li:nth-child(2),
  #footer ul li:nth-child(3),
  #footer ul li:nth-child(4),
  #footer ul li:nth-child(5),
  #footer ul li:nth-child(6) {
    text-decoration: underline;
  }

  #footer ul {
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 15px;

    display: flex;
    justify-content: center;
    gap: 2vw;
  }

  #footer ul li {
    cursor: pointer;
  }

  #footer span {
    font-weight: 800;
  }

  .fot_bottom {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .reserved {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }
}
